
body
{
margin: 0;
padding: 0;
font-family: sans-serif;
background: #E9EBEC;
position: center;

}

.sign-up-form
{
box-shadow: 0 0 3px 0 rgba(0,0,0,0,0.3);
background: #fff;  
padding: 5px;
width: 400px;
margin: 4% auto 0; 
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 32px;
border: 2px solid #CCCCCC;
position: center;
text-align: center;   
  

}

.sign-up-form h2
{
  color: #2F3337;
  margin-bottom: 20px;
  font-size: 35px;
  
}

.input-box
{
  border-radius: 20px;
  border: 2px solid #CCCCCC;
  padding: 10px;
  margin: 10px 0;
  width: 250px;
  outline: none;
  
}

.signup-btn
{
color: #fff;
width: 150px;
padding: 10px;
border-radius: 50px;
front-size: 15px;  
margin: 10px 0;
border: none;
outline: none; 
cursor: pointer; 
background: #303A76;

}

hr
{
  margin-top: 20px;
  width: 80%;
}
